{% extends "base.html.twig" %}
{% block menu %}
	<h1>Admin Menu</h1>
	<ul>
		<li><a href="/admin/source">Sources</a></li>
		<li><a href="/admin/product">Products</a></li>
	</ul>
	<a href="/admin/robot/updateAll">Search for Products</a>
{% endblock %}
