{% extends "base.html.twig" %}
{% block content %}
	<form class="form-search" method="post" action="">		
		<h1 class="h3 mb-3 font-weight-normal">Product Search</h1>
		<label for="inputSearch" class="sr-only">Search</label>
		<input type="text" id="inputSearch" name="search_text" placeholder="Bicycles" required autofocus>    
		<button class="btn btn-lg btn-primary btn-block" type="submit">Search!</button>
	</form>
{% endblock %}
