<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">    
		<title>{% block title %}{% endblock %} - Product Search</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<style>
			html,
			body {
				height: 100%;
			}
			body {
				/*display: -ms-flexbox;
				display: flex; */
				-ms-flex-align: center;
				align-items: center;
				padding-top: 40px;
				padding-bottom: 40px;
				background-color: #f5f5f5;
			}
			#content {
				width: 100%;
				max-width: 330px;
				padding: 15px;
				margin: auto;
			}
		</style>
	</head>
	<body class="text-center">
		<div id="content">{% block content %}{% endblock %}</div>
	</body>
</html>
